a:hover{
	color:aqua;
	background: whitesmoke;
}

.nav a{
	text-decoration: none;
	color:#333;
	font-size: larger;
	float: left;
	text-align: center;
	padding: 20px 16px;
	width: 100px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.nav a.active{
	background: whitesmoke;
}
.nav{
	overflow: hidden;
	background: gray;
}
body{
    background-color: grey;
}
#container,#wine-images{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    align-self: center;
    align-items: center;
    height: fit-content;
    width:100%;
    gap: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.wines{
    width:inherit;
    border:0;
}
#heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:cyan;
}

#span{
    display: flex;
    flex-direction: column;
    height: inherit;
    background-color:#333;
    border-radius: 10px;
    color:white;
 }
.loader{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: opacity 3s visibility 3s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border:15px solid #dddddd;
    border-radius: 50%;
    border-top-color: #333;
    animation: loading 3s ease infinite;
}
@keyframes loading{
    from{
        transform:rotate(0turn);
    }
    to{
        transform:rotate(1turn);
    }
}
#head,h2 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  #head h1 {
    font-size: 24px;
    margin: 0;
  }
  a {
    display: block;
    text-align: center;
    color: #333;
    text-decoration: none;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 10px;
    }
  
    .contact,
    .resources,
    .social {
      background-color: #555;
      padding: 10px;
      border-radius: 5px;
      width: 250px;
      margin: 10px;
    }
  
    h3 {
      font-size: 18px;
      margin-top: 0;
      color: #fff;
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 5px;
    }
  
    li.a {
      color: #fff;
      text-decoration: none;
    }
  
    hr {
      border-color: #fff;
    }
  
    p.text-center {
      text-align: center;
      margin: 10px 0 0 0;
    }

.rating{
  position: relative;
  height: 50px;
  transform: translate(-50%,-50%) rotateY(180deg);
  display: flex;
}
.rating input{
  display: none;
}
.rating label{
  width:25px;
  height:15px;
  background: transparent;
  transition: all 0.2s ease;
  float:right;
}
.ratingButton{
  width:100%;
  height:30px;
  background-color: cyan;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color:#fd4;
}

#sort {
  text-align: center;
  margin-bottom: 10px;
}

.sort-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#sort-select {
  padding: 5px;
}

#sort-button {
  padding: 5px 10px;
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sort-button:hover {
  background-color:darkslategray;
}
#search-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.search select{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search label{
  display: block;
  font-weight: bold;
  width: 90%;
  padding: 10px;
}
#searchButton{
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.winery-div,#winery-details {
  background-color: #f5f5f5;
  border-radius: 8px;
  width:70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.winery-div:hover {
  transform: translateY(-5px);
}

.winery-div p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.winery-div p:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

#winery-div a {
  color: #007bff;
  text-decoration: none;
}

#winery-div a:hover {
  text-decoration: underline;
}
